<%= flash_messages %>
<div class="block">
	<header class="header-group">
		<p>

<h2>> Fonctionnalitées :</h2><br/>
<ul>
	<li>Système d'inscription / d'authentification avec Gem Devise</li>
	<li>Gestion de roles avec Gem Rolify </li>
	<li>Gestion des droits avec Gem Cancancan</li>
	<li>Gestions et publications d'annonces avec un compte employeur</li>
	<li>Consulter et postuler a une annonce avec un compte demandeur</li>
</ul>
<br/>

<h3>> COMPTES DISPONIBLES :</h3><br/>

<p>Lors de la création d'un compte, celui-ci est par défaut un compte demmandeur, il n'y a pas la possibilité de créer de compte employeur</p>

<h4>compte employeur :</h4>

<ul>
	<li>email : offreur@gmail.com</li>
	<li>mot de passe : azerty</li>
</ul>

<h4>compte demmandeur : </h4>
<ul>
	<li>email : demandeur@gmail.com</li>
	<li>mot de passe : azerty</li>
</ul>

<br/>
<br/>
<p>Un role admin été ajouté afin d'avoir un controle total sur les fonctionnalité du site</p>

<ul>
	<li>email : admin@gmail.com</li>
	<li>mot de passe : adminadmin</li>
</ul>


	</header>
	<div class="row">
		<div class="col-md-12">
		</div>
	</div>
</div>