<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <div class="row">
      <div class="form-group col-md-4">
        <%= f.label :Email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
    </div>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="row">
        <div class="form-group col-md-4">
       <%= f.label :Prénom %><br />
       <%= f.text_field :username, autofocus: true, class: "form-control" %>
        </div>
      </div>
      
    <div class="row">
      <div class="form-group col-md-4">
        <%= f.label :Mot_de_passe %> <i>(Vous pouvez sauter les champs que vous ne modifier pas)</i><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-4">
        <%= f.label :Confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-4">
        <%= f.label :Mot_de_passe_actuel %> <i>(Nous avons besoin de votre mot de passe actuel pour confirmer vos changements)</i><br />
        <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit "Mettre à jour", class: "btn btn-primary" %>
    </div>
  <% end %>
<h3>Cancel my account</h3>
 
<p>Unhappy? <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Etes-vous sûr?" }, method: :delete, class: "btn btn-danger" %></p>
 
<%= link_to "Retour", :back, class: "btn btn-default" %>

