<h2>S'enregistrer</h2>
 
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :Email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>
</div>
<div class="row">
  <div class="form-group col-md-4">
 <%= f.label :Prénom %><br />
 <%= f.text_field :username, autofocus: true, class: "form-control" %>
  </div>
</div>
<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :Mot_de_passe %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>
</div>
<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :Confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>
</div>
  <div class="actions">
    <%= f.submit "S'enregistrer", class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
 
<%= render "devise/shared/links" %>