<%= flash_messages %>
<header>
  <h2>S'authentifier</h2>
</header>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="devise-container">
    <div class="row">
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <%= f.label :mot_de_passe %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="form-group actions">
        <% if devise_mapping.rememberable? -%>
          <div class="field pull-left">
            <%= f.check_box :remember_me %>
            <%= f.label :Se_souvenir_de_moi %>
          </div>
        <% end -%>
        <div class="pull-right">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
  <%= f.submit "Se connecter", class: "btn btn-lg btn-primary" %>
<% end %>