<%= form_for(@offre) do |f| %>
  <% if @offre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offre.errors.count, "error") %> prohibited this offre from being saved:</h2>
      <ul>
      <% @offre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
  <div class="form-group col-md-4">
    <%= f.label :Intitulé %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  </div>
   <div class="row">
  <div class="form-group col-md-4">
    <%= f.label :Mission %><br>
    <%= f.text_field :job, class: "form-control" %>
  </div>
  </div>
   <div class="row">
  <div class="form-group col-md-4">
    <%= f.label :Description %><br>
    <%= f.text_field :descr, class: "form-control" %>
  </div>
  </div>
  <div class="row">
  <div class="form-group col-md-4">
    <%= f.label :Salaire %><br>
    <%= f.text_field :salary, class: "form-control" %>
  </div>
  </div>
  <div class="actions">
    <%= f.submit 'Créer', class: "btn btn-primary" %>
  </div>
<% end %>
