<%= flash_messages %>
<h2>Liste des offres</h2>
<div class="offre-block">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th class="col-md-2">Intitulé</th>
       <th class="col-md-2">Poste</th>
       <th class="col-md-2">Mission</th>
       <th class="col-md-2">Salaire</th>
       <th class="col-md-2">Recruteur</th>
       <th class="col-md-4">Options</th>

      </tr>
    </thead>
    <tbody>
      <% @offres.each do |offre| %>
        <tr>
         <td class="col-md-2"><%= offre.name %></td>
         <td class="col-md-2"><%= offre.job %></td>
         <td class="col-md-2"><%= offre.descr %></td>
         <td class="col-md-2"><%= offre.salary %></td>
         <td class="col-md-2"><%= offre.user.try(:email) %></td>
         <td class="col-md-4">
            <%= link_to 'Afficher', offre_path(offre), class: "btn btn-info" %>
            <%= link_to 'Modifier', edit_offre_path(offre), class: "btn  btn-warning" %>
            <%= link_to 'Supprimer', offre_path(offre), method: :delete, data: { confirm: 'Etes vous sûr ?' }, class: "btn btn-danger" %>
         </td>
     </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<%= link_to 'Nouvelle Offre', new_offre_path, class: "btn btn-primary" %>
