<%= flash_messages %>
<h2>Détails de l'offre</h2>

<p>
  <strong>Intitulé:</strong>
  <%= @offre.name %>
</p>

<p>
  <strong>Mission:</strong>
  <%= @offre.job %>
</p>

<p>
  <strong>Description:</strong>
  <%= @offre.descr %>
</p>

<p>
  <strong>Salaire:</strong>
  <%= @offre.salary %>
</p>

<%= link_to 'Modifier', edit_offre_path(@offre), class: "btn btn-warning" %>
<%= link_to "Retour", offres_path , class: "btn btn-default" %>

