<!DOCTYPE html>
<html>
  <head>
    <title>PoleEmploi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <link rel="stylesheet" href="http://poleEmploi.com/assets/bootstrap.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="css/custom.css" rel="stylesheet">

    <!-- Custom Fonts from Google -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  </head>

  <body>
    <!-- Navigation -->
    <nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            
            <!-- Logo-->
            <div class="navbar-header">
                <a class="navbar-brand" href="/"> <%= image_tag "logo.png" %> </a>
            </div>

            <!-- Navbar HEADER -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Offres <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Liste des offres", offres_path %></li>
                      <li><%= link_to "Ajouter une offre", new_offre_path %></li>
                    </ul>
                  </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mon compte<span class="caret"></span></a>
                      <ul class="dropdown-menu">

                       <% if user_signed_in? %>
                        <li><%= link_to "Gestion de compte", edit_user_registration_path %></li>
                      <% else %>
                        <li><%= link_to "S'enregistrer", new_user_registration_path %></li>
                        <li><%= link_to "S'authentifier", new_user_session_path %></li>
                      <% end %>
                      <% if user_signed_in? %>
                        <li role="separator" class="divider"></li>
                        <li><%= link_to "Déconnexion", destroy_user_session_path, method: :delete %></li>
                      <% end %>
                      
                      </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="main-container" class="container mainContent">

      <section class="content content-2 blankk"> 
        <%= yield %>
      </section> 
    </div>

 </body>

    <!-- jQuery -->
    <script src="js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    
    <!-- Custom Javascript -->
    <script src="js/custom.js"></script>

 
</html>



